<html>
    <head>
        <script src="js/jquery-1.8.3.min.js"></script>
        <link rel="stylesheet" href="css/default.css" type="text/css"/>
        <title>{% block title %}{{ report.title }}{% endblock %}</title>
        <script type="text/javascript">
            function show(e) {
                var causeDiv = $(this).parent('.test_summary').children('.cause');
                var icon = $(this).parent('.test_summary').children('#toggle-icon');
                var visible = causeDiv.css('display');
                if (visible == 'none') {
                    $(causeDiv).show('fast');
                    $(icon).removeClass('icon-chevron-down');
                    $(icon).addClass('icon-chevron-up');
                } else {
                    $(causeDiv).hide('fast');
                    $(icon).addClass('icon-chevron-down');
                    $(icon).removeClass('icon-chevron-up');
                }
            }

            function removeFilter() {
                $('body > .test_summary').each( function() {
                    $(this).show('slow');
                })
            }

            function filterOK() {
                $('body > .test_summary.ok').each( function() {
                    $(this).show('slow');
                })
                $('body > .test_summary.fail').each( function() {
                    $(this).hide('slow');
                })
            }

            function filterFail() {
                $('body > .test_summary.fail').each( function() {
                    $(this).show('slow');
                })
                $('body > .test_summary.ok').each( function() {
                    $(this).hide('slow');
                })
            }

            $(document).ready(function(){
                $('.icon_container').click(show);
            });
        </script>
    </head>
    <body>
        <div class="head spacing">
            <span class="h1 bold">{{ report.title }}</span>
        </div>
        <div class="head_summary spacing">
            <div class="btn-group" data-toggle="buttons-radio">
              <button type="button" class="btn btn-primary active" onclick="removeFilter()">{{ report.total }} total</button>
              <button type="button" class="btn btn-danger" onclick="filterFail()">{{ report.fail }} failed</button>
              <button type="button" class="btn btn-success" onclick="filterOK()">{{ report.pass }} passed</button>
            </div>
        </div>
        {% for test in report.tests %}
            {% if test.result == 'OK' %}
                <div class="test_summary ok spacing" title="Click to view details">
            {% else %}
                <div class="test_summary fail spacing" title="Click to view details">
            {% endif %}
                    <div class="icon_container" style="display:inline">
                    {% if test.result == 'OK' %}
                        <i id="toggle-icon" class="icon-chevron-down"></i><span>Test {{ test.step }} <span class="label label-success bold">PASSED</span>&nbsp;Time: <span class="bold">{{ test.duration }}</span> {{ test.url }}</span>
                    {% else %}
                        <i id="toggle-icon" class="icon-chevron-down"></i><span>Test {{ test.step }} <span class="label label-important bold">FAILED</span>&nbsp;Time: <span class="bold">{{ test.duration }}</span> ... {{ test.url }}</span>
                    {% endif %}
                    </div>
                    <div class="cause none" style="display:none; margin-top:10px">
                        <ul>
                            {% for assumption in test.assumptions %}
                            <div>
                                <p class="bold">Assumption {{ loop.index }}</p>
                                <li>Expected <pre>{{ assumption.expected }}</pre></li>
                                {% if test.got %}
                                <li>Got <pre>{{ test.got }}</pre></li>
                                {% endif %}
                                <li>Condition <pre>{{ assumption.pass_if }}</pre></li>
                                {% if not loop.last %}
                                    <hr/>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if test.cause %}
                    <div class="spacing">
                        <pre>{{ test.cause }}</pre>
                    </div>
                    {% endif %}
            </div>
        {% endfor %}
    </body>

    <!-- Le styles -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="bootstrap/js/bootstrap-button.js"></script>
</html>
